.top{
    display: flex;
    justify-content: space-between;
}
p{
    font-size: 25px;
    margin:100px,20px,20px,20px;
}
.logOut{
    height:20px;
    border-color:yellow;
    background-color:green;
    color:yellow;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid yellow;
    width:80px;
    text-align: center;
    margin-top:5px;
}
h1{
    margin:0px;
    font-family: 'Courgette', cursive;
    text-shadow:1px 1px 0 white;
    font-size: 50px;
}
.displayTotal{
    margin:0px;
    font-size: 40px;   
}
.inputContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#weeklyLabel{
    margin-top:80px;
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
}
#purchaseAmount{
    margin:0px;
    width:100px;
    text-align: center;
    padding:4px;
    margin-bottom: 10px;
}
#comment{
    visibility: hidden;
}
select{
    width:180px;
    margin:5px;
}
.logOut2{
    visibility: hidden;
}
.purchasedTitle,.spend{
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    text-align: center;
}
html{
    background-image: linear-gradient(green,rgb(255, 255, 255));
    height:100%;
}
.purchaseAmount{
    width:80px;
    text-align: center;
    margin:10px;
}
.budgetAmount,select,.purchaseAmount,#comment{
    background-color: white;
    border-radius: 5px;
    padding:6px;
}
.submitBudget,.editBudget{
    border-radius: 7px;
    background-color: rgb(245, 245, 135);
    width:80px;
    padding: 4px;
}
.editBudget{
    margin-bottom:20px;
}
.purchase{
    border-radius: 7px;
    background-color: rgb(245, 245, 135);
    width:80px;
    padding: 4px;
}
.listLabel,.item-container{
    visibility: hidden;
}
.balance{
    padding:10px;
    margin: 5px;
}

@media only screen and (min-width: 768px){
    h1{
        margin:0px;
        font-family: 'Courgette', cursive;
        text-shadow:3px 1px 0 rgb(229, 243, 105);
        font-size: 100px;
    }
    .logOut{
        visibility: hidden;
    }
    .logOut2{
        height:20px;
        border-color:yellow;
        background-color:green;
        color:yellow;
        border-radius: 20px;
        text-decoration: none;
        border: 2px dotted yellow;
        width:80px;
        text-align: center;
        padding:5px;
        visibility: visible;
    }
    .purchase{
        border-radius: 7px;
        background-color: rgb(245, 245, 135);
        width:80px;
        padding: 4px;
    }
    .listLabel,.item-container{
        visibility: visible;
    }
    .bottomHalf{
        display:flex;
        justify-content: space-between;
    }
    #weeklyLabel{
        margin-top:40px;
    }
    .purchasedTitle,#weeklyLabel,#spendLabel{
        text-shadow:1px 1px 0 rgb(229, 243, 105);
    }
    .top{
        justify-content: center;
    }
    #purchaseAmount,#comment{
        margin:5px;
        width:100px;
        text-align: center;
    }
    select{
        width:180px;
        margin:5px;
    }
    #comment{
        visibility: visible;
    }
}