.top{
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Open Sans', sans-serif;
    height:100%;
    background-color: #17A589;
}

p{
    font-size: 25px;
    margin:100px,20px,20px,20px;
}

.purchased {
    margin-top: 20px;
}
.logOut{
    /* height:20px; */
    border-color grey;
    background-color:white;
    color:grey;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}

h1{
    margin:0px;
    color: white;
}

select{
    margin-bottom: 20px;
}
.displayTotal{
    margin:0px;
    font-size: 40px;   
}
.inputContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#weeklyLabel{
    margin-top:80px;
    font-size: 20px;
}
.purchaseAmount{
    margin-bottom: 10px;
}
.purchasedTitle,#spendLabel{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
/* html{
    background-image: linear-gradient(#17A589,rgb(255, 255, 255));
    
} */

.purchaseAmount{
    width:80px;
    text-align: center;
}
.budgetAmount,select,.purchaseAmount{
    background-color: white;
    border-radius: 5px;
}

#chart {
    width: 200px;
    height: 200px;
}