.top{
    display: flex;
    justify-content: space-between;
}
p{
    font-size: 25px;
    margin:100px,20px,20px,20px;
}
.logOut{
    height:20px;
    border-color:yellow;
    background-color:green;
    color:yellow;
    border-radius: 20px;
    
}
h1{
    margin:0px;
    font-family: 'Courgette', cursive;
    text-shadow:-1px 1px 0 white;
}
select{
    margin-bottom: 20px;
}
.displayTotal{
    margin:0px;
    font-size: 40px;   
}
.inputContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#weeklyLabel{
    margin-top:80px;
    font-family: 'Epilogue', sans-serif;
    font-size: 25px;
}
.purchaseAmount{
    margin-bottom: 10px;
    
}
.purchasedTitle,#spendLabel{
    font-family: 'Epilogue', sans-serif;
    font-size: 25px;
    text-align: center;
    margin:15px;
    
}
html{
    background-image: linear-gradient(green,rgb(255, 255, 255));
    height:100%;
}
.purchaseAmount{
    width:80px;
    text-align: center;
}
.budgetAmount,select,.purchaseAmount{
    background-color: white;
    border-radius: 5px;
}
.listLabel{
    font-size: 20px;
    margin:8px;
}
